@page
@{
    ViewData["Title"] = "Dashboard";
}

<div id="app">
    <h1>Dashboard</h1>

	<p>This is currently in development. All of the initial release data is scripted as part of migrations, since we're still working out the kinks.</p>
	<ol>
		<li>To revert to an empty database: <b>Update-Database 0</b></li>
		<li>To reapply the init script: <b>Update-Database</b></li>
	</ol>

</div>



